#jisuanqi{
	margin:auto;
	width:300px;
	height:250px;
	border-style:solid;
	border-color:#999;
}
#xianshi{
}
input.a{
	width:204px;
	height:35px;
	margin:7px 1px 2px 7px;
}
#anniu{
	margin:7px 5px 2px 7px;
}
button.b{
	width:66px;
	height:40px;
	float:left;
	background-color:#CCC;
	border-style:solid;
	margin:2px 5px 5px 1px;
	cursor:pointer;
}
button.a{
	width:66px;
	height:40px;
	background-color:#CCC;
	border-style:solid;
	margin:7px 5px 2px 0px;
	cursor:pointer;
}