*{padding: 0px;margin: 0px;}
body{font-family: "Myriad Pro";}
.container_nav{
	width: 1100px;
	height: 142px;
	margin:0 auto;
}
.nav_home{
	width: 1100px;
	height: 46px;
	position: relative;
}
.home_li{
	width: 282px;
	height: 46px;
	display: inline-block;
	position: absolute;
	right: 55px;
}
.home_li ul li{
	float: left;
	list-style-type: none;
	position: relative;
	top: 15px;
	margin-left: 24px;
}
.home_li ul li a{
	text-decoration: none;
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #a2a2a2;
}
.home_li ul li a:link{color: #a2a2a2}
.home_li ul li a:visited{color: #a2a2a2}
.home_li ul li a:hover{color: black}
.nav_logo{
	width: 1100px;
	height: 35px;
	position: relative;
}
.logo_li{
	position: relative;
	left: 100px;
	height: 35px;
	width: 130px;
	float: left;

}
.logo_li ul li{
	list-style-type: none;
	font-weight: bold;
	font-family: "Myriad Pro";
	font-size: 30px;
	color: #00294c;
	line-height: 25px;
}
.logo_li ul li + li{
	font-size: 12px;
	color: #9dafbe;
	line-height: 10px;
	letter-spacing: 0.9px;
}
.logo_int{
	width: 728px;
	height: 35px;
	position: relative;
	right: 55px;
	float: right;
}
.logo_int ul li{
	float: left;
	list-style-type: none;
	font-family: "Myriad Pro";
	font-size:22px;
	margin-left: 36.5px;
}
.logo_int ul li a{
	text-decoration: none;
	color: black;
}
.nav_k{
	width: 1100px;
	height: 61px;
	position: relative;
}
.k_choose{
	border: 1px solid #9dafbe;
	border-radius: 18px;
	width: 364px;
	height: 23px;
	font-size: 12px;
	font-family: "Myriad Pro";
	text-align: center;
	line-height: 26px;
	position: relative;
	left: 335px;
}
.k_choose a{text-decoration: none;}
.k_choose a:link{color: #9dafbe}
.k_choose a:visited{color: #9dafbe}
.k_choose a:hover{color: black}
.container_img{
	width: 1100px;
	height: 294px;
	margin: 0 auto;
}
.container_inf{
	width: 1100px;
	height: 311px;
	margin: 0 auto;
}
.inf_more{
	width: 355px;
	height: 311px;
	float: left;
}
.more{
	width: 265px;
	height: 311px;
	margin:0 auto;
}
.moreup,.moredown{
	width: 265px;
	height: 156px;
	position: relative;
}
.moreup_center,.inf_card{
	padding-top: 44px;
}
.moreup_center ul li a:link{color: #a2a2a2} 
.moreup_center ul li a:visited{color: #a2a2a2}
.moreup_center ul li a:hover{color: black}

.moredown_center{
	padding-top: 15px;
}
.moredown_center ul li a:link{color: #a2a2a2} 
.moredown_center ul li a:visited{color: #a2a2a2}
.moredown_center ul li a:hover{color: black}
.more ul{
	position: relative;
	left: 17px;
	color: #e85555;
}
.moreup ul li a,.moredown ul li a{
	text-decoration: none;
	color: #9dafbe;
	font-size: 12px;
}
.free,.learning,.best{
	color: #e85555;
	display: inline-block;
	position: relative;
	font-family: "Myriad Pro";
	font-size: 22px;
}
.notice{
	display: inline-block;
	font-size: 22px;
	position: relative;
	left: 12px;
}
.zone{
	display: inline-block;
	font-size: 22px;
	position: relative;
	left: 8px;
}
.ins{
	display: inline-block;
	font-size: 22px;
	position: relative;
	left: 7px;
}
.more_up{
	position: relative;
	left: 102px;
}
.more_down{
	position: relative;
	left: 73px;
}
.best_more{
	position: relative;
	left: 118px;
}
.more_up a,.more_down a,.best_more a{
	font-size: 12px;
	color: #044874;
	text-decoration: none;
}
.inf_card{
	width: 326px;
	height: 267px;
	float: left;
}
.card_img{
	width: 326px;
	height: 97px;


}
.img_container{
	width: 327px;
	height: 66px;
	padding-top:16px;
	position: relative;
}
.img_container1,.img_container2,.img_container3{
	height: 64px;
	width: 100px;
	border: 1px solid #a2a2a2;
	border-radius: 6px;
	float:left;
}
.img_container2,.img_container3{
	margin-left: 9px;
}
.img_news{
	width: 326px;
	height: 136px;
	padding-top: 7px;
}
.title{
	font-size: 16px;
	font-weight: bold;
}
.big_title{
	font-size: 37px;
	color: #044874;
	margin-top: 10px;
}
.act{
	width: 311px;
	height: 24px;
	padding-top: 20px;
}
.listening,.speaking,.writing{
	width: 98px;
	height: 23px;
	line-height: 26px;
	border: 1px solid #9dafbe;
	border-radius: 18px;
	float: left;
	text-align: center;
}
.speaking,.writing{
	margin-left: 5px;
}
.act div a{
	text-decoration: none;
	color: #9dafbe;
}
.act div a:link{color: #9dafbe}
.act div a:visited{color: #9dafbe}
.act div a:hover{color: #e85555}
.inf_others{
	width: 419px;
	height: 311px;
	float: left;
	position: relative;
}
.others_container{
	width: 322px;
	height: 220px;
	border: 1px solid #9dafbe;
	border-radius: 6px;
	display: inline-block;
	position: relative;
	top: 44px;
	left: 40px;
}
.container_online,.container_time{
	width: 220px;
	height: 110px;
	display: inline-block;
	position: relative;
	left: 27px;
	top: 32px;
}
.container_online
.online{
	font-size: 20px;
	color: #e85555;
}
.line{
	position: absolute;
	bottom: 25px;
	width: 287px;
	border-bottom: 1px solid #9dafbe;
}
.time{
	font-size: 20px;
	color: #044874;
}
.container_online p + p,.container_time p + p{
	font-size: 14px;
	color: #9dafbe;
	position: relative;
	top: 5px;
}
.icon1{
	position: absolute;
	right:10px;
	top:30px;
}
.icon2{
	position: absolute;
	right: 10px;
	top: 135px;
}
.container_ft{
	width: 1100px;
	height: 103px;
	margin: 0 auto;
}
.ft_container{
	width: 1015px;
	margin: 0 auto;
}
.p1,.p2,.p3{
	color: #9dafbe;	
}
.p1{
	font-size: 13px;
	margin-top: 20px;
}
.p2{
	font-size: 12px;
	margin-top: 14px;
}
.p3{
	font-size: 11px;
	margin-top: 6px;
}